/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --rl-white: #ffffff;
    --rl-principal: #9792e4;
    --rl-front: #0084fd;
    --rl-front-light: #b5ddff;
    --rl-dark: #333333;
    --rl-black: #000000;
}

/* #endregion Common */

/* #region Debug */


/* #endregion Debug */
